@import "tailwindcss";
@plugin "daisyui";

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

